[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tensorflow = "*"
keras = "*"
torch = "*"
torchvision = "*"
numpy = "*"
scipy = "*"
matplotlib = "*"
jupyterlab = "*"
pandas = "*"
numexpr = "*"
bottleneck = "*"
beautifulsoup4 = "*"
requests ="*"
Pillow = "*"
tqdm = "*"

[requires]
python_version = "3.6"
